<% layout('boilerplate') -%>

<h1>关于我们</h1>

<div class="abt_sec">
项目简介:newbee成员小试牛刀，台球之余，做此项目
</div>
<div class="abt_sec">
成员: franksu(努力脱单的奔三屌丝一枚)
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
matthewyao(以分手为目标的刚毕业屌丝一枚)
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
robinzhou(醉心游戏的无为屌丝一枚)
</div>
<div class="abt_sec">
邮箱: su.liangbo@gmail.com,matthewyaokuan@gmail.com,fengguiyushao@gmail.com
</div>

<script>
$('#aboutus').addClass('active');
</script>