<!DOCTYPE html>
<html lang="zh-CN">
  <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <meta name="keywords" content="robinzhou,frank,matthew">
       <meta name="description" content="仗剑红尘已是癫，有酒平步上青天； 游星戏斗弄日月，醉卧云端笑人间。">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>NEWBEE</title>
       <!-- <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>-->
       <!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>-->
       <link href="../public/stylesheets/bootstrap.css" rel="stylesheet">
       <link href="../public/stylesheets/bootstrap-theme.css" rel="stylesheet">
       <link href="../public/stylesheets/adminstyle.css" rel="stylesheet" >
  </head>
  <body role="document" >
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container_fluid">
      <a class="navbar-brand" href="/admin">
        <span>NEWBEE</span>
      </a>
      </div>
    </div>
  </nav>
  <div class="container-fluid-full">
  <div class="row-fluid">
    <div id="sidebar-left" class="span2">
      <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
          <li>
            <a href="/admin/bashboard">
              <i class="icon-bar-chart">
              </i>
              <span class="hidden-table"> Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/admin/post">
              <i class="glyphicon glyphicon-edit"></i>
              <span class="hidden-tablet">Edit Post</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="content" class="span10">
      
    </div>
  </div>
  </div>


    <script src="../public/js/jquery-1.11.1.min.js" ></script>
    <script src="../public/js/bootstrap.js"></script>
   </body>
  </html>