<!DOCTYPE html>
<html lang="zh-CN">
  <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <meta name="keywords" content="robinzhou,frank,matthew">
       <meta name="description" content="仗剑红尘已是癫，有酒平步上青天； 游星戏斗弄日月，醉卧云端笑人间。">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>NEWBEE</title>
       <!-- <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>-->
       <!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>-->
       <link href="/stylesheets/bootstrap.css" rel="stylesheet">
       <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
       <link href="/stylesheets/adminstyle.css" rel="stylesheet" >
  </head>
  <body role="document" >
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container_fluid">
      <a class="navbar-brand" href="/">
        <span>NEWBEE</span>
      </a>
      </div>
    </div>
  </nav>
  <div class="container-fluid-full">
    <div class="row">
      <div id="sidebar-left" class="col-xs-2">
          <div class="nav-collapse sidebar-nav">
          <ul class="nav nav-tabs nav-stacked main-menu">
            <li>
              <a href="/admin">
                <span class="hidden-tablet"> Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/admin/myposts">
                <span class="hidden-tablet">我的文章</span>
              </a>
            </li>
            <li>
              <a href="/admin/allposts">
                <span class="hidden-tablet">所有文章</span>
              </a>
            </li>
            <li>
              <a href="/admin/post">
                <span class="hidden-tablet">Edit Post</span>
              </a>
            </li>
            <li>
              <a href="/admin/user">
                <span class="hidden-tablet">用户管理</span>
              </a>
            </li>
            <li>
              <a href="/admin/category">
                <span class="hidden-tablet">分类管理</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div id="content" class="col-xs-10">
        <% if (success) { %>
            <div class="alert alert-success">
        <%= success %>
        </div>
        <% } %>
        <% if (error) { %>
        <div class="alert alert-danger">
         <%= error %>
         </div>
        <% } %>       
      <%-body%>
      </div>
    </div>
  </div>
    <script src="/js/jquery-1.11.1.min.js" ></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/javascripts/admin_common.js"></script>
   </body>
  </html>