<html lang="zh-CN">
  <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <meta name="keywords" content="robinzhou,frank,matthew">
       <meta name="description" content="仗剑红尘已是癫，有酒平步上青天； 游星戏斗弄日月，醉卧云端笑人间。">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>NEWBEE</title>
       <!-- <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>-->
       <!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>-->
       <link href="/stylesheets/bootstrap.css" rel="stylesheet">
       <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
       <link href="/stylesheets/style.css" rel="stylesheet" >
  </head>
  <body role="document">
  <div id="wrapper">
  <div id="main">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
           <div class="container">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
 
                   </button> <a class="navbar-brand" href="/">NEWBEE</a>
 
               </div>
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   <ul class="nav navbar-nav">
                       <li class="active"><a href="">link</a>
                       </li>
                       <li><a href="#">Link</a>
                       </li>
                       <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
 
                           <ul class="dropdown-menu" role="menu">
                               <li><a href="#">Action</a>
                               </li>
                               <li><a href="#">Another action</a>
                               </li>
                               <li><a href="#">Something else here</a>
                               </li>
                               <li class="divider"></li>
                               <li><a href="#">Separated link</a>
                               </li>
                               <li class="divider"></li>
                               <li><a href="#">One more separated link</a>
                               </li>
                           </ul>
                       </li>
                   </ul>
                   <form class="navbar-form navbar-left" role="search">
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search">
                       </div>
                       <button type="submit" class="btn btn-default">Submit</button>
                   </form>
                   <ul class="nav navbar-nav navbar-right">
                         <li ><a id="session_username" href="/admin/post"> 
                            <% if (user) { %>
                              <%=user["username"]%>
                          <% } if(!user) { %>
                                游客
                          <% }%>,你好!
                         </a>
                         </li>
                       <li>
                          <% if (!user) { %>
                          <a href="/users/login">登录/注册</a> 
                          <% } if(user) { %>
                          <a href="/users/logout">登出</a> 
                          <% }%>
                       </li>   
                   </ul>
               </div>
           </div>
       </nav>
       <div class="container theme-showcase" id="footer" role="main">
          <% if (success) { %>
              <div class="alert alert-success">
          <%= success %>
          </div>
          <% } %>
          <% if (error) { %>
          <div class="alert alert-info">
           <%= error %>
           </div>
          <% } %>
          <%-body%>
       </div>
       </div>
       <footer >
                <span>Powered by <a href="https://github.com/newbeetwinkle/newbeesite" target="_blank">NodeJs</a>.</span>
                 <span>Copyright &copy; 2014 by <a href="/">robinzhou, franksu, matthewyao</a>.</span>
        </footer>
      </div>
    <script src="/js/jquery-1.11.1.min.js" ></script>
    <script src="/js/bootstrap.js"></script>
    
   </body>
  </html>