<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="keywords" content="robin,frank,matthew">
		<meta name="description" content="仗剑红尘已是癫，有酒平步上青天； 游星戏斗弄日月，醉卧云端笑人间。">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TA</title>
		<!-- <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/> -->
		<!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/> -->
		<link href="/stylesheets/bootstrap.css" rel="stylesheet"/>
　　 </head>
　　 <body>

	<%-body -%>


	<script src="/js/jquery-1.11.1.min.js" ></script>
	<script src="/js/bootstrap.js"></script>
　　 </body>
</html>
