<% layout('adminlayout') -%>

<h1>
    <%if(act == "new"){%>
        发布文章
    <%} else {%>
        修改文章
    <%}%>
</h1>
<div class="alert alert-info hide" id="info">

</div>
<form class="form-horizontal" id="editpostform"  action="/admin/post" role="form" method="post">
    <input type="input" id="act" name="act" hidden="hidden" value="<%=act%>" >
    <%if(act == "modify"){%>
        <input type="input" id="postId" name="postId" hidden="hidden"  value="<%=post.postId%>" >
    <%}%>
    <div class="form-group">
		<label for="title" class="col-sm-1 control-label">Title</label>
		<div class="col-sm-8">
			<input type="input" class="form-control" id="title" name="title" required <%if(act == "modify"){%> value="<%=post.title%>" <%}%> >
		</div>
	</div>
	<!-- 加载编辑器的容器 -->
	<script id="editor" name="content" type="text/plain">
	</script>
	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-11">
			<input type="submit" id="submit_post" class="btn btn-primary" value="发布">
		</div>
	</div>
</form>

<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('editor');
    ue.ready(function() {
        <%if(act == "modify"){%>
            ue.setContent('<%-post.content%>');
        <%}%>
    });
</script>