<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>error</title>

<link href="stylesheets/error.css" rel="stylesheet">
</head>
<body>
状态：<%=error.status %><br/>
错误信息：<%=message %><br/>
</body>

</html>
