<% layout('boilerplate') -%>

<h1>NEWBEE BLOG</h1>

<div class="row">
<div class="col-xs-8">
<ul class="post_list">
<%for(var i = 0; i<posts.length;i++){ %>
<li>
<section class="well">
<a href="/posts/detail/<%=posts[i].postId%>"><h1><%=posts[i].title %></h1></a>
<p>
<%=posts[i].content %>
</p>
<time><%=posts[i].createTime %></time>
</section>
</li>
<%
}
%>
</ul>
</div>
<div class="col-xs-4">
</div>
</div>