<% layout('boilerplate') -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>register page</title>
 <link href="stylesheets/login.css" rel="stylesheet">
</head>
<body>
<form method="post" >
	<div id="loginBlock" >
	<table>
	<tr>
		<td>用户名：</td>
		<td><input class="form-control" type="textbox" id="username" name="username" /></td>
	</tr>	
	<tr>
		<td>密码：</td>
		<td><input class="form-control" type="password" id="password" name="password" /></td>
	</tr>	
	<tr>
		<td><input type="submit" class="btn btn-primary btn-sm" id="login-btn" value="登录"  name="login-btn"/> </td>
		<td><input type="reset"  class="btn btn-danger btn-sm"  id="reset-btn" value="重置" name="reset-btn" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="/users/register">没有帐号？赶紧注册</a>
		</td>
	</tr>
	</div>
</table>
</form>
</body>

</html>
