<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>register page</title>
<link href="tylesheets/login.css" rel="stylesheet">
</head>
<body>
<form method="post" >
	<div id="loginBlock">
	<table>
	<tr>
		<td>用户名：</td>
		<td><input type="textbox" id="username" name="username" /></td>
	</tr>	
	<tr>
		<td>密码：</td>
		<td><input type="textbox" id="password" name="password" /></td>
	</tr>	
	<tr>
		<td><input type="submit" class="loginBtn" id="login-btn" value="登录"  name="login-btn"/> </td>
		<td><input type="reset"  class="loginBtn" id="reset-btn" value="取消" name="reset-btn" /></td>
	</tr>
	</div>
</table>
</form>
</body>

</html>
