<% layout('boilerplate') -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>register page</title>
<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<form method="post"  class="form-signin" role="form">
	<div id="loginBlock" >
	<h2 class="form-signin-heading">欢迎登录</h2>
	<table >
	<tr>
		<td>用户名：</td>
		<td>
		<input class="form-control" type="textbox" id="username"  required autofocus name="username" placeholder="Username/Email"/></td> 
	</tr>	
	<tr>
		<td>密码：</td>
		<td><input class="form-control" type="password" id="password" placeholder="Password" required name="password" /></td>
	</tr>	
	<tr>
		<td colspan="2">
		<input type="checkbox" >阅读用户协议
		</td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" class="btn btn-primary btn-lg btn-block" id="login-btn" value="登录"  name="login-btn"/> </td>
	</tr>
	<!-- 
	<tr>
		<td colspan="2"><input type="reset"  class="btn btn-danger btn-lg"  id="reset-btn" value="重置" name="reset-btn" /></td>
	</tr>
	-->
	<tr>
		<td colspan="2">
			<a href="/users/register">没有帐号？赶紧注册</a>
		</td>
	</tr>
	
</table>
</div>
</form>
</body>

</html>
