<!Doctype html>
<% layout('boilerplate') -%>
<html>
<head>
<title>register page</title>
<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<form method="post"  class="form-signin" role="form">
	<div id="loginBlock" >
	<h5 class="form-signin-heading" style="text-align:left">帐号登录</h5>
	<table>
	<tr>
		<td>
		<input class="form-control" type="textbox" id="username"  required autofocus name="username" placeholder="Username/Email"/></td> 
	</tr>	
	<tr>
		<td><input class="form-control" type="password" id="password" placeholder="Password" required name="password" /></td>
	</tr>		
	<tr>
		<td><input type="submit" class="btn btn-primary btn-md" id="login-btn" value="登录"  name="login-btn"/> </td>
		
	</tr>
	<tr>
		<td colspan="2" id="a_footer">
			<a href="/users/register">注册</a>
			<font> | </font>
			<a href="/users/fogetpwd">忘记密码</a>
			<font> | </font>
			<a href="#">意见反馈</a>
		</td>
	</tr>
	
</table>
</div>
</form>
</body>

</html>
