<!Doctype html>
<% layout('boilerplate') -%>
<html>
<head>
<title>register page</title>
<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<form method="post"  class="form-signin" role="form">
	<div id="loginBlock" style="width:800px;margin-top:200px;">
		<h3><%= content %></h3>
	</div>
</form>
</body>

</html>
