<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>register page</title>
<link href="stylesheets/register.css" rel="stylesheet">
</head>
<body>
<form method="post" >
	<table>
	<tr>
		<td>用户名：</td>
		<td><input type="textbox" id="userName" name="userName" /></td>
	</tr>	
	<tr>
		<td>密码：</td>
		<td><input type="textbox" id="password" name="password" /></td>
	</tr>
	<tr>
		<td>确认密码：</td>
		<td><input type="textbox" id="confirmPassword" name="confirmPassword" /></td>
	</tr>
	<tr>
		<td>昵称：</td>
		<td><input type="textbox" id="nickName" name="nickName" /></td>
	</tr>
	<tr>
		<td>手机：</td>
		<td><input type="textbox" id="telephone" name="telephone" /></td>
	</tr>
	<tr>
		<td>地址：</td>
		<td><input type="textbox" id="addr" name="addr" /></td>
	</tr>
	<tr>
		<td>邮箱：</td>
		<td><input type="textbox" id="email" name="email" /></td>
	</tr>
	<tr>
		<td><input type="submit" class="regBtn blue" id="register-btn" value="注册"  name="register-btn"/> </td>
		<td><input type="reset"  class="regBtn blue" id="reset-btn" value="取消" name="reset-btn" /></td>
	</tr>
</table>
</form>
</body>

</html>
