body{
	font-size:12px;
	font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}
#registerBlock{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}